
.container
	
	h4 Pure CSS icons
	.icons
		h5 Navigation
		.icon
			.i-burger
	.icons
		h5 Carets
		.icon
			.i-caretRight
		.icon
			.i-caretLeft
		.icon
			.i-caretUp
		.icon
			.i-caretDown
	.icons
		h5 Operations
		.icon
			.i-plus
		.icon
			.i-minus
		.icon
			.i-times
	.icons
		h5 Miscenlaneous
		.icon
			.i-check
		.icon
			.i-close
	.icons
		h5 Actions
		.icon
			.i-undo
		.icon
			.i-redo
	.icons
		h5 Alignment
		.icon
			.i-justifyLeft
		.icon
			.i-justifyCenter
		.icon
			.i-justifyRight
		.icon
			.i-justifyFull